@charset "UTF-8";

section{
	margin-top:150px;
}

h1{
	font-size:36px;
	padding:30px;
	font-weight: bolder;
	font-family:cursive;
}


p{
	font-size:18px;
	letter-spacing:0.05rem;
	line-height:150%;
}

a{
	letter-spacing:0.03rem;
	line-height:150%;
}

input{
	border:none;
	border-bottom: solid 1px black;
}


/* Signin/Login page */

.submitbtn{
	cursor:pointer;
	padding:5px 15px;
	margin:15px;
	font-size:18px;
	border:none;
}

button{
	cursor:pointer;
}